body{
    margin: 0%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    position: fixed;
    top: 2%;
    right: 2%;
}
p{
    margin-left: 5rem;
    margin-right: 5rem;
}
img{
    width: 25%;
    height: 25%;
}
a:visited{
    color: blue;
}
header{
    background-color:darkcyan;
    color: gold;
    padding: 0.5%;
}
h1{
    margin: 0%;
}